.mainWoman {
  width: 100%;
}

.leftImage {
  animation: moveLeftImage 2.5s ease-in 1s infinite;
}

@keyframes moveLeftImage {
  0% {
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    transform: scale(0.7) translate(60%, 110%);
    opacity: 0;
  }
}

.centerImage {
  animation: moveCenterImage 2.5s ease-in 1s infinite;
}

@keyframes moveCenterImage {
  0% {
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    transform: scale(0.7) translate(40%, 90%);
    opacity: 0;
  }
}

.rightImage {
  animation: moveRightImage 2.5s ease-in 1s infinite;
}

@keyframes moveRightImage {
  0% {
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    transform: scale(0.7) translate(-20%, 110%);
    opacity: 0;
  }
}
