.welcomeManImage {
  width: 100%;
  height: 100%;
}
.welcomeWavingArm {
  transform-origin: center 70%;
  animation: waveArm 1.5s ease-in-out infinite;
}
@keyframes waveArm {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-5deg);
  }
}
.welcomeWavingHand {
  transform-origin: 30% 55%;
  animation: waveHand 1.5s ease-in-out infinite;
}
@keyframes waveHand {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-6deg);
  }
}
