.uploadPageContainer {
  background-color: #fefbe9;
}
.contentContainer {
  width: 70%;
  margin: auto;
  padding-top: 4em;
  background-color: #fefbe9;
}
.saveImageButton {
  margin-top: 1em;
  font-weight: bolder;
}
