.uploadPageContainer {
  background-color: lightgoldenrodyellow;
}
.contentContainer {
  width: 70%;
  margin: auto;
  padding-top: 4em;
}
.uploadImageBox {
  height: 10em;
  border: 0.1em lightgray dashed;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadIcon {
  width: 3em;
  background-color: red;
}
.uploadInput {
  background-color: lightgreen;
}
.uploadDragDrop {
  margin-left: 9em;
}
.uploadImages {
  background-color: lightblue;
}
input[type="file"]::file-selector-button {
  margin-left: 0.3rem;
  background-color: white;
  cursor: pointer;
  padding: 0.5rem;
  /* overflow: hidden; */
  /* text-align: center; */
}
input[type="file"] {
  color: transparent;
}
input[type="file"]:after {
  /* color: #000; */
  content: "";
}
.displayImageBox {
  width: 100%;
  padding-top: 1.5em;
  background-color: black;
  /* position: relative; */
}

.displayContent {
  background-color: lightblue;
  padding: 0.5em 0 1.5em 0;
  /* border: 5px white solid; */
  /* display: flex; */
  /* flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* auto-fill vs auto-fit*/
}

/* @media (min-width: 1000px) {
  .displayContents {
    grid-template-columns: repeat(4, 1fr);
  }
} */

.uploadedImage {
  position: relative;
  aspect-ratio: 1;
}
.uploadedImage img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.deleteImageButton {
  /* z-index: 99; */
  position: absolute;
  right: 0%;
}

.saveImageButton {
  margin-top: 1em;
}

img {
  display: block;
}
.popupBackgroundDiv {
  /* z-index: 99; */
  /* display: none; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cccccc;
  backdrop-filter: invert(50%);
}
.displayInputPopupBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-height: 70%;
  border: 0.1em black solid;
  background-color: lightgreen;
}
.uploadInputPopupBox {
  /* height: 10em; */
  border: 0.1em lightgray dashed;
  /* border-radius: 0.5em; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* background-color: white; */
  padding: 1em 0;
}
.uploadInputPopup {
  display: inline-flex;
}
.addImageIcon {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
}

.displayPopupContent {
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  /* margin: auto; */
  padding: 0.5em 0;
}
.displayPopupContent img {
  width: 100%;
  height: 100%;
}
.selectedImage {
  position: relative;
  aspect-ratio: 1;
}
