* {
  box-sizing: border-box;
  margin: 0;
}

.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  background-color: #e1eedd;
  border-radius: 0.5rem;
  padding: 0 0 1rem 0;
}

.tabLinks {
  display: flex;
}

.tabTitle {
  padding: 1rem;
  color: #183a1d;
  font-size: 1.5rem;
  font-weight: bolder;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-color: #183a1d;
  background-color: #e1eedd;
}

.tabTitle.tabActive {
  background-color: #183a1d;
  color: #ffffff;
}

.tabContent {
  padding: 1rem;
}
