.pageContainer {
  height: 100vh;
}
.contentContainer {
  height: 100%;
  display: flex;
  align-items: center;
}
.pageTitle {
  width: 40%;
  height: 70%;
  font-size: 5.5vw;
  font-weight: 900;
  color: #183a1d;
  background-color: #e1eedd;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 1.5rem;
  padding: 0 1rem;
}
.pageImage {
  width: 60%;
}
