.pageContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 2.8rem;
}
.contentContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageTitle {
  height: 80%;
  font-size: 5vw;
  font-weight: 900;
  color: #183a1d;
  background-color: #e1eedd;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 1rem;
}
