.pageContainer {
  height: 100vh;
}
.contentContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
  padding-top: 3rem;
  gap: 2rem;
}

.pageTitle {
  font-size: 4vw;
  font-weight: 900;
  color: #183a1d;
  background-color: #e1eedd;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.pageTitle > div {
  padding: 0 3rem;
}

.pageTitle > div:nth-child(1) {
  padding-top: 3rem;
}
.pageTitle > div:nth-child(3) {
  padding-bottom: 3rem;
}

.pageImage {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .contentContainer {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0rem;
  }

  .pageTitle {
    font-size: 7vw;
  }

  .pageImage {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .contentContainer {
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0rem;
  }

  .pageTitle {
    font-size: 7vw;
  }

  .pageImage {
    width: 100%;
  }
}

@media screen and (min-width: 1700px) {
  .contentContainer {
    justify-content: center;
  }

  .pageTitle > div {
    padding: 0 4rem;
  }

  .pageTitle > div:nth-child(1) {
    padding-top: 4rem;
  }
  .pageTitle > div:nth-child(3) {
    padding-bottom: 4rem;
  }

  .pageImage {
    width: 50%;
  }
}
