.popupBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 251, 232, 0.8);
}
.displayInputPopupBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #e1eedd;
  max-height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.uploadInputPopupBox {
  width: 100%;
}
.uploadInputPopup {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1em #183a1d dashed;
  border-radius: 0.5em;
  background-color: #e1eedd;
}
.addImageIcon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.addImage {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.addImageText {
  line-height: 2rem;
}
.displayPopupContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
  padding: 0.5em 0;
  overflow-y: auto;
}
.displayPopupContent::-webkit-scrollbar {
  width: 0.7rem;
}
.displayPopupContent::-webkit-scrollbar-thumb {
  background: #183a1d;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.displayPopupContent::-webkit-scrollbar-track {
  background: #e1eedd;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.displayPopupContent img {
  width: 100%;
  height: 100%;
}
.selectedImage {
  position: relative;
  aspect-ratio: 1;
}
.deleteImageButton {
  position: absolute;
  right: 0%;
  background-color: #fefbe9;
  font-weight: bolder;
  border-radius: 0.3rem;
}
.buttonBox {
  display: flex;
  justify-content: right;
}
.saveSelectedImageButton,
.cancelSelectedImageButton {
  background-color: #e7e7e7;
  color: #183a1d;
  width: 3.7rem;
  height: 1.8rem;
  border-radius: 0.5rem;
  border-color: #183a1d;
  border-width: 0.01rem;
  margin: 0.7rem 0;
  font-weight: bolder;
}
.saveSelectedImageButton {
  background-color: #f0a04b;
  margin-left: 0.4rem;
  margin-right: 0.7rem;
}
.saveSelectedImageButton:disabled,
.cancelSelectedImageButton:disabled {
  background-color: #ebefe9;
}
