.displayImageBox {
  width: 100%;
  padding-top: 1rem;
  /* background-color: #fefbe9; */
}
.displayContent {
  background-color: #fefbe9;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* auto-fill vs auto-fit*/
}
.imageBox {
  position: relative;
}
.imageBox:hover {
  position: relative;
  transform: scale(1.01);
}

.imageBox:hover .deleteImageButton,
.imageBox:hover .downloadImageIcon {
  visibility: visible;
}
img:hover {
  filter: brightness(0.7) saturate(0%);
}

/* @media (min-width: 1000px) {
.displayContents {
grid-template-columns: repeat(4, 1fr);
}
} */

.uploadedImage {
  aspect-ratio: 1;
}
.uploadedImage img {
  width: 100%;
  height: 100%;
}
.deleteImageButton {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5%;
  right: 5%;
  /* padding: 0 0.3rem; */
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.3rem;
  border-width: 0;
  visibility: hidden;
  z-index: 1;
}
.downloadImageIcon {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: #ffffff;
  padding: 0 0.1rem;
  border-radius: 0.3rem;
  visibility: hidden;
  z-index: 1;
}
.notifyNoImage {
  text-align: center;
}
