* {
  box-sizing: border-box;
}

.sliderContainer {
  height: 100%;
  width: 80%;
  /* background-color: lightcoral; */
  /* background-color: #e1eedd; */
}
.sliderWrapper {
  height: 100%;
  width: 100%;
  /* backgrousnd-color: black; */
  /* background-color: #e1eedd; */
  display: flex;
  overflow: hidden;
}

.currentImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.backButton {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: transparent;
  border-width: 0;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: transparent;
  border-width: 0;
}

.backButton:hover,
.nextButton:hover {
  background-color: rgb(240, 161, 76, 0.8);
}

.backButton:active,
.nextButton:active {
  background: red;
}

.displayedImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* background: lightgreen; */
  flex-grow: 1;
  flex-shrink: 0;
}
