.sliderContainer {
  height: 100%;
  width: 50%;
  background-color: #e1eedd;
}
.sliderWrapper {
  height: 100%;
  width: 100%;
  background-color: #e1eedd;
}

.sliderInner {
  height: 100%;
  background-color: #e1eedd;
}
.currentImg {
  /* max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buttonBack {
  position: absolute;
  top: 50%;
  left: 0;
}

.buttonNext {
  position: absolute;
  top: 50%;
  right: 0;
}
