.pageContainer {
  height: 100vh;
  background-color: #fefbe9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #183a1d;
}
.imageContainer {
  height: 70%;
  width: 70%;
  margin-left: 10%;
  background-color: #e1eedd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcomeImage {
  height: 60%;
  z-index: 1;
}

.contentContainer {
  height: 70%;
  width: 70%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1eedd;
}

.loginContainer {
  width: 100%;
  padding: 0 1rem;
}

.loginTitle {
  font-size: 2rem;
  font-weight: bolder;
  margin: 2rem 0;
}

/* .loginTitle {
  font-size: 1.5rem;
  margin: 1rem 0;
} */

.loginInput {
}

.usernameInput,
.passwordInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

label {
  width: 5rem;
  margin-bottom: 0.5em;
}
.usernameInput > input,
.passwordInput > input {
  border-color: lightgray;
  height: 2rem;
  border-width: 0.1em;
  border-radius: 0.5rem;
  padding: 0 0.8em;
  margin-bottom: 0.5em;
}

.passwordInput {
  position: relative;
}

.eyeIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-20%, -50%);
}

.hideEyeIcon,
.viewEyeIcon {
  width: 1em;
  margin: 0.2em;
}

.loginButton {
  height: 2rem;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  border-width: 0.1em;
  border-color: #183a1d;
  margin-top: 0.3rem;
  background-color: #f0a04b;
}

.loginButton:disabled {
  background-color: #ebefe9;
}

.loginButton:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 4px darkgray;
}

.invalidMessage,
.failedValidationMessage {
  color: red;
}

.linkInformation {
  padding-bottom: 0.7rem;
}
