.editAlbumBox {
  width: 100%;
  height: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.albumPhotoBox {
  height: 100%;
  width: 100%;
}
.albumPhoto {
  margin: 1em;
  height: 17em;
}
.albumPhoto img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.albumTitle {
  text-align: center;
}
.albumPhotoBox,
.albumListBox {
  width: 100%;
  height: 100%;
  padding: 2em 0;
}

.albumList li {
  margin: 0.5rem;
  list-style: none;
  /* background-color: red; */
}
.albumListTitle {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
}
/* edit mode*/
.editAlbumButton {
  position: absolute;
  right: 0;
  margin: 0.5em;
  visibility: hidden;
}

.imageInput {
  height: 17em;
  position: relative;
}
.imageInput input {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-18%, 0%);
}
.noImageDiv {
  width: 100%;
  height: 100%;
  line-height: 17em;
  border-radius: 1em;
  border: 0.2em #183a1d dotted;
  text-align: center;
}

.imageInput > input {
  background-color: red;
}

.albumTitle > input {
  border-color: lightgray;
  height: 2rem;
  border-width: 0.1em;
  border-radius: 0.5rem;
  padding: 0 0.8em;
  margin-bottom: 0.5em;
}

/* .folderList {
} */
.deleteFolderListButton {
  background-color: #fefbe9;
  font-weight: bolder;
  border-radius: 0.3rem;
  margin-right: 0.2rem;
  z-index: 100;
}
.folderList > input {
  width: 100%;
  padding: 0 0.5rem;
  border-width: 0.1em;
  border-radius: 0.3rem;
  z-index: 100;
}

.addFolderListButton {
  background-color: #fefbe9;
  font-weight: bolder;
  border-radius: 0.3rem;
  z-index: 100;
}
