* {
  box-sizing: border-box;
}

.displayAlbumBox {
  width: 100%;
  height: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}
.albumPhotoBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}
.albumPhoto {
  margin: 1em;
  height: 17em;
}

.albumPhoto img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.noImageDiv {
  width: 100%;
  height: 100%;
  line-height: 17em;
  border-radius: 1em;
  border: 0.2em #183a1d dotted;
  text-align: center;
}
.albumTitle {
  text-align: center;
}

.albumListBox {
  width: 100%;
  height: 100%;
  padding: 2em 0;
}
.albumList {
  height: 100%;
}
.folderList {
  position: relative;
  height: 100%;
}

.folderListInner {
  position: absolute;
  width: 100%;
  height: 94%;
  overflow-y: auto;
}
.folderListInner::-webkit-scrollbar {
  width: 0.7rem;
}
.folderListInner::-webkit-scrollbar-thumb {
  background: #183a1d;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.folderListInner::-webkit-scrollbar-track {
  background: #e1eedd;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.folderCard {
  margin: 0.7rem;
  list-style: none;
}
.contentInCard {
  display: flex;
  align-items: center;
}
.folderIcon {
}
.contentInner {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.folderTitle {
  font-size: 1.1rem;
}
.folderData {
  font-size: 0.7rem;
  color: gray;
}
