.albumListBox {
  width: 100%;
  height: 100%;
  padding: 2em 0;
}
.albumList li {
  /* margin: 0.7rem; */
  list-style: none;
}
.albumListTitle {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 0.5rem;
}
.albumList {
  height: 100%;
}
.folderListBox {
  position: relative;
  height: 94%;
  overflow-y: auto;
  /* display: flex;
  flex-direction: row;
  background-color: white; */
  /* justify-content: center; */
  /* align-items: center; */
}

.folderListInner {
  position: absolute;
  width: 100%;
}

.folderList {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: start;
  align-items: start;
}

.folderList::-webkit-scrollbar {
  width: 0.7rem;
}
.folderList::-webkit-scrollbar-thumb {
  background: #183a1d;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.folderList::-webkit-scrollbar-track {
  background: #e1eedd;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.folderList input {
  width: 50%;
  /* padding: 0 0.5rem; */
  border-width: 0.1em;
  border-radius: 0.3rem;
  z-index: 10;
  background-color: yellow;
}

.albumList li {
  margin: 0.7rem;
  list-style: none;
}
.albumListTitle {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 0.5rem;
}
.albumList {
  height: 100%;
}

.albumListBox {
  width: 100%;
  height: 100%;
  padding: 2em 0;
}
.deleteFolderListButton {
  background-color: #fefbe9;
  font-weight: bolder;
  border-radius: 0.3rem;
  margin-right: 0.2rem;
  z-index: 10;
  background-color: red;
}

.addFolderListButton {
  background-color: #fefbe9;
  font-weight: bolder;
  border-radius: 0.3rem;
  z-index: 10;
}

@media screen and (max-width: 700px) {
  .folderList {
    /* background-color: red; */
  }
  .folderList > input {
    height: 100%;
    /* width: 100%;
    padding: 0 0.5rem;
    border-width: 0.1em;
    border-radius: 0.3rem;
    z-index: 10;
    background-color: yellow; */
  }
}
