* {
  box-sizing: border-box;
}

.editAlbumBox {
  width: 100%;
  height: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

/* .popupBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
} */

.warningPopupBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.4);
  z-index: 20;
  visibility: hidden;
}
.displayWarningPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #e1eedd;
  z-index: 21;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.displayWarningPopup > button {
  background-color: #f0a04b;
  color: #183a1d;
  width: 3rem;
  height: 1.8rem;
  border-radius: 0.5rem;
  border-color: #183a1d;
}

.albumPhotoBox {
  height: 100%;
  width: 100%;
}
.albumPhoto {
  margin: 1em;
  height: 17em;
}
.albumPhoto img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.albumTitle {
  text-align: center;
}
.albumPhotoBox,
.albumListBox {
  width: 100%;
  height: 100%;
  padding: 2em 0;
}
.albumList li {
  margin: 0.5rem;
  list-style: none;
}
.albumListTitle {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
}
/* edit mode*/
.editAlbumButton {
  position: absolute;
  right: 0;
  margin: 0.5em;
  visibility: hidden;
}

.imageInput {
  height: 17em;
  position: relative;
}
.imageInput input {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-18%, 0%);
}
.noImageDiv {
  width: 100%;
  height: 100%;
  line-height: 17em;
  border-radius: 1em;
  border: 0.2em #183a1d dotted;
  text-align: center;
}

/* .imageInput > input {
  background-color: red;
} */

.albumTitle > input {
  border-color: lightgray;
  height: 2rem;
  border-width: 0.1em;
  border-radius: 0.5rem;
  padding: 0 0.8em;
  margin-bottom: 0.5em;
}

/* .folderList {
} */
.deleteFolderListButton {
  background-color: #fefbe9;
  font-weight: bolder;
  border-radius: 0.3rem;
  margin-right: 0.2rem;
  z-index: 10;
}
.folderList > input {
  width: 100%;
  padding: 0 0.5rem;
  border-width: 0.1em;
  border-radius: 0.3rem;
  z-index: 10;
}

.addFolderListButton {
  background-color: #fefbe9;
  font-weight: bolder;
  border-radius: 0.3rem;
  z-index: 10;
}
