.albumPhotoBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}
.albumPhoto {
  margin: 1em;
  height: 17em;
}
.albumPhoto img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.imageInput {
  height: 17em;
  position: relative;
}
.imageInput input {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 90%;
  transform: translate(32%, 0%);
}
.noImageDiv {
  width: 100%;
  height: 100%;
  line-height: 17em;
  border-radius: 1em;
  border: 0.2em #183a1d dotted;
  text-align: center;
}

.albumTitle {
  text-align: center;
}
.albumTitle > input {
  border-color: lightgray;
  height: 2rem;
  border-width: 0.1em;
  border-radius: 0.5rem;
  padding: 0 0.8em;
  margin-bottom: 0.5em;
}
