.pageContainer {
  height: 100vh;
  background-color: #fefbe9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.albumBox {
  position: relative;
  width: 40em;
  height: 30em;
  border: 0.1em #183a1d solid;
  border-radius: 2rem;
}
.albumBox:hover .editAlbumButton {
  visibility: visible;
}

.editAlbumButton {
  position: absolute;
  right: 0;
  margin: 0.5em;
  visibility: hidden;
}
