* {
  box-sizing: border-box;
}

.editAlbumBox {
  width: 100%;
  height: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .editAlbumBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem 0;
  }
}
