.navContainer {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 0.5em;
  background-color: #e1eedd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  padding: 0 1.5rem;
}

.navCenter {
}

.navRight {
  padding: 0 1.5rem;
  /* margin: auto; */
}

a {
  color: #183a1d;
  font-weight: bolder;
}

.pageTitle {
  font-size: 1.5rem;
  color: #f0a04b;
}
.login {
  margin-right: 1rem;
}
