.navContainer {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 0.5em;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.navHome {
  padding: 0 1em;
}
.navRight {
  padding: 0 1em;
  /* margin: auto; */
}
