.signupContainer {
  height: 100vh;
  background-color: #fefbe9;
  color: #183a1d;
}
.popupContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupInner {
  height: 7rem;
  width: 20rem;
  background-color: #fefbe9;
  margin-bottom: 5rem;
  padding: 0.5rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}
.popupInner > button {
  border-width: 0.01rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: #f0a04b;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
  color: #183a1d;
  font-weight: bolder;
  cursor: pointer;
}
.popupTitle {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}
.popupSubtitle {
  text-align: center;
}
.popupInner button {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
}

.formContainer {
  width: 80%;
  max-width: 50rem;
  margin: auto;
  padding-top: 4rem;
}
.signupWrapperContainer {
  display: flex;
}
.signupWrapperContainer div {
  width: 50%;
}

.signupInput {
  padding: 0.3rem 0;
}

.signupInput input {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
}

.passwordCheckList,
.passwordCheckList span {
  padding-left: 0.5rem;
}
.warningNote {
  color: red;
}
.successNote {
  color: green;
}

.formContainer > input[type="submit"] {
  margin-top: 0.5rem;
  border-width: 0.01rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: #f0a04b;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
  color: #183a1d;
  font-weight: bolder;
  cursor: pointer;
}
