.signupContainer {
  height: 100vh;
  background-color: lightslategray;
}

.formContainer {
  width: 80%;
  max-width: 50rem;
  margin: auto;
  padding-top: 4rem;
}
.signupWrapperContainer {
  display: flex;
}
.signupWrapperContainer div {
  width: 50%;
}

.signupInput {
  padding: 0.3rem 0;
}

.signupInput input {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
}

.passwordCheckList,
.passwordCheckList span {
  /* background-color: lightpink; */
  padding-left: 0.5rem;
}
.warningNote {
  color: red;
}
.successNote {
  color: green;
}
